<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Личный кабинет</title>
</head>
<body>
    <ol class="menu">
        <li>Создание проекта
            <ul>
                <li>Черновик</li>
            </ul>
        </li>
        <li>Планирующиеся проекты</li>
        <li>В процессе</li>
        <li>Завершенные проекты</li>
        <li>Процесс TRM</li>
    </ol>
</body>
</html>