<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page TRM</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div><form class="one" action="/login" method="POST">
Your login <input type="text" name="login" placeholder="Login"><br>
Your password <input type="password" name="password" placeholder="Password"><br>
<input type="submit" value="Log in"> <input type="reset" value="Reset">
    </form></div>
</body>
</html>